# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml slspath+"/defaults.yaml" as defaults %}
{% import_yaml slspath+"/osmap.yaml" as osmap %}
{% import_yaml slspath+"/codenamemap.yaml" as codemap %}

{# get the settings for the os_family grain #}
{% set osfam = salt['grains.filter_by'](osmap) or {} %}

{# get the settings for the oscodename grain, os_family data will override oscodename data #}
{% set oscode = salt['grains.filter_by'](codemap, grain='oscodename', merge=osfam) or {} %}

{# merge the os family/codename specific data over the defaults #}
{% do defaults.unbound.update(oscode) %}

{# merge the pillar:lookup dict into the defaults/os specific dict #}
{# salt['pillar.get'] with merge=True returns None (not the default) in Salt 3008+ when the pillar value is None #}
{% set _lookup_raw = salt['pillar.get']('unbound:lookup') %}
{% if _lookup_raw is mapping %}
  {% set lookup = salt['slsutil.merge'](defaults.unbound, _lookup_raw, strategy='recurse') %}
{% else %}
  {% set lookup = defaults.unbound %}
{% endif %}

{# merge the actual unbound pillar into the above combined dict #}
{% set _unbound_raw = salt['pillar.get']('unbound') %}
{% if _unbound_raw is mapping %}
  {% set unbound = salt['slsutil.merge'](lookup, _unbound_raw, strategy='recurse') %}
{% else %}
  {% set unbound = lookup %}
{% endif %}
